*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:black;
    /* border: 1px solid black; */
}
.container span{
    font-size: 35px;
    color: white;
}
.container span::first-letter{
    font-size: 50px;
    color: red;
}
#main{
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
#sec1{
    height: 400px;
    width: 50%;
    position: relative;
    box-shadow: 5px 5px 5px 5px gray;
    /* border: 1px solid gray; */
}
#sec1 h1{
    font-size: 80px;
    position: absolute;
    top: 20%;
    left: 30%;
    color: gray;
}
#sec1 h2{
    position: absolute;
    bottom: 30%;
    left: 20%;
    color: rgb(69, 68, 68);
}
#smain{
    height: 500px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 3px double black;
}
#simg{
    height: 400px;
    width: 42%;
    /* border: 1px solid black; */
}
#simg img{
    height: 100%;
    width: 100%;
}
#scon{
    height: auto;
    width: 49%;
    /* border: 1px solid black; */
}
#scon h2{
    text-align: center;
    margin-bottom: 23px;
}

@media(max-width:1200px)
{
    #sec1{
        width: 80%;
        /* border: 2px solid black; */
    }
    #sec1 h1{
        left: 30%;
    }
    #sec1 h2{
        left: 20%;
    }
    #smain{
        height: auto;
        width: 90%;
    }
    #simg{
        height: 270px;
    }
}

@media(max-width:980px)
{
    #sec1{
        width: 80%;
        /* border: 2px solid black; */
    }
    #sec1 h1{
        left: 30%;
    }
    #sec1 h2{
        left: 20%;
    }
    #smain{
        height: auto;
        width: 90%;
    }
    #simg{
        height: 260px;
    }
}

@media(max-width:720px)
{
    #sec1{
        width: 90%;
        /* border: 2px solid black; */
    }
    #sec1 h1{
        left: 28%;
    }
    #sec1 h2{
        left: 17%;
    }
    #smain{
        height: auto;
        width: 90%;
    }
    #simg{
        height: 250px;
    }
}

@media(max-width:480px)
{
    #sec1{
        width: 90%;
        /* border: 2px solid black; */
    }
    #sec1 h1{
        left: 20%;
    }
    #sec1 h2{
        left: 10%;
    }
    #smain{
        height: auto;
        width: 90%;
    }
    #simg{
        height: 250px;
    }
}